Source: xserver-xorg-video-opentegra
Section: x11
Priority: optional
Maintainer: Dmitry Osipenko <digetx@gmail.com>
Homepage: https://github.com/grate-driver
Vcs-Git: https://github.com/grate-driver/xf86-video-opentegra.git
Vcs-Browser: https://github.com/grate-driver/xf86-video-opentegra
Standards-Version: 3.9.6
Build-Depends: debhelper (>=9), dh-autoreconf, pkg-config, xserver-xorg-dev,
 x11proto-core-dev, x11proto-randr-dev, x11proto-xext-dev, x11proto-video-dev,
 x11proto-dri2-dev, xutils-dev, libdrm-dev, libudev-dev [linux-any],
 bison, flex, liblz4-dev, libpng-dev, libpixman-1-dev,

Package: xserver-xorg-video-opentegra
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xviddriver:Depends},
 libdrm2, liblz4-1, libpng16-16, libpixman-1-0,
Provides: ${xviddriver:Provides}
Description: X.Org X server -- Opensource driver for NVIDIA Tegra.
 This package provides HW-accelerated opensource driver for NVIDIA
 Tegra20+ SoC's from the GRATE project <URL:https://github.com/grate-driver>.

Package: xserver-xorg-video-opentegra-dbg
Architecture: armhf
Depends: xserver-xorg-video-opentegra (= ${binary:Version}), ${misc:Depends},
Section: debug
Priority: extra
Description: X.Org X server -- Opensource driver for NVIDIA Tegra. (debug symbols)
 This package provides HW-accelerated opensource driver for NVIDIA
 Tegra20+ SoC's from the GRATE project <URL:https://github.com/grate-driver>.
